<a href="https://colab.research.google.com/github/asepmuhidin/BD-DM-C02/blob/main/UTS_jawaban.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd

# Data sample
data = {
    "ID": [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    "EmployeeName": [
        "Alice Smith", "Bob Johnson", "Charlie Lee", "Diana King", "Evan Wright",
        "Fiona Adams", "George Young", "Hannah Baker", "Ian Scott", "Julia Clark"
    ],
    "Title": [
        "Software Engineer", "Data Analyst", "Project Manager", "HR Specialist", "Marketing Lead",
        "UX Designer", "DevOps Engineer", "Accountant", "Business Analyst", "Legal Advisor"
    ],
    "Dept": [
        "IT", "PMO", "PMO", "HR", "HR",
        "HR", "IT", "PMO", "IT", "IT"
    ],
    "Salary": [75000, 68000, 82000, 60000, 71000, 69000, 77000, 65000, 73000, 80000],
    "Status": ["Full-Time", "Full-Time", "Full-Time", "Part-Time", "Full-Time",
               "Part-Time", "Full-Time", "Full-Time", "Full-Time", "Part-Time"]
}

# Membuat DataFrame
df = pd.DataFrame(data)

# Menampilkan DataFrame
df.head(10)

    ID  EmployeeName              Title Dept  Salary     Status
0  101   Alice Smith  Software Engineer   IT   75000  Full-Time
1  102   Bob Johnson       Data Analyst  PMO   68000  Full-Time
2  103   Charlie Lee    Project Manager  PMO   82000  Full-Time
3  104    Diana King      HR Specialist   HR   60000  Part-Time
4  105   Evan Wright     Marketing Lead   HR   71000  Full-Time
5  106   Fiona Adams        UX Designer   HR   69000  Part-Time
6  107  George Young    DevOps Engineer   IT   77000  Full-Time
7  108  Hannah Baker         Accountant  PMO   65000  Full-Time
8  109     Ian Scott   Business Analyst   IT   73000  Full-Time
9  110   Julia Clark      Legal Advisor   IT   80000  Part-Time

In [25]:
df.shape

(10, 6)

In [26]:
print(f'Jumlah data karyawan adalah {df.shape[0]}')

Jumlah data karyawan adalah 10

In [27]:
print(f'Rata-rata Gaji  karyawan adalah {df.Salary.mean()}')

Rata-rata Gaji  karyawan adalah 72000.0

In [28]:
df[df.Salary==df.Salary.min()]

    ID EmployeeName          Title Dept  Salary     Status
3  104   Diana King  HR Specialist   HR   60000  Part-Time

In [29]:
EmployeeOfMinSalary=df[df.Salary==df.Salary.min()]['EmployeeName']
EmployeeOfMaxSalary=df[df.Salary==df.Salary.max()]['EmployeeName']

In [30]:
print(f'Gaji Minimum karyawan adalah {df.Salary.min()} bernama {EmployeeOfMinSalar.values[0]}')
print(f'Gaji Maksimum karyawan adalah {df.Salary.max()} bernama {EmployeeOfMaxSalary.values[0]}')

Gaji Minimum karyawan adalah 60000 bernama Diana King
Gaji Maksimum karyawan adalah 82000 bernama Charlie Lee

In [31]:
df.groupby('Dept')['Dept'].count()

Dept
HR     3
IT     4
PMO    3
Name: Dept, dtype: int64

In [32]:
df.groupby('Status')['Status'].count()

Status
Full-Time    7
Part-Time    3
Name: Status, dtype: int64

In [33]:
df[df.Dept=='IT']

    ID  EmployeeName              Title Dept  Salary     Status
0  101   Alice Smith  Software Engineer   IT   75000  Full-Time
6  107  George Young    DevOps Engineer   IT   77000  Full-Time
8  109     Ian Scott   Business Analyst   IT   73000  Full-Time
9  110   Julia Clark      Legal Advisor   IT   80000  Part-Time

In [34]:
df[df.Salary>=70000]

    ID  EmployeeName              Title Dept  Salary     Status
0  101   Alice Smith  Software Engineer   IT   75000  Full-Time
2  103   Charlie Lee    Project Manager  PMO   82000  Full-Time
4  105   Evan Wright     Marketing Lead   HR   71000  Full-Time
6  107  George Young    DevOps Engineer   IT   77000  Full-Time
8  109     Ian Scott   Business Analyst   IT   73000  Full-Time
9  110   Julia Clark      Legal Advisor   IT   80000  Part-Time

In [35]:
df.groupby('Dept')['Salary'].mean()

Dept
HR     66666.666667
IT     76250.000000
PMO    71666.666667
Name: Salary, dtype: float64